body {
    background-color: #f0f0f0;
    font-family: sans-serif;
    font-size: 9pt;
    color: #4040e0;
    padding: 0px;
    /*width: 800px;*/
    overflow: auto;
}
#mainbody {
    background-color: #c0c0ff;
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    font-size: 9pt;
    color: #4040e0;
}
#sections {
    background-color: #f0f0f0;
    padding: 5px;
    /*position: absolute;*/
    /*top: 20px;*/
    /*left: 20px;*/
    width: 200px;
}
input[type=checkbox] {
     margin: 0px;
}
#repl {
    background-color: #f0f0f0;
    padding: 5px;
    /*position: absolute;*/
    /*top: 20px;*/
    /*left: 230px;*/
    /*width: 800px;*/
    overflow: auto;
}
#progress {
    background-color: #c0c0c0;
    text-align: center;
    width: 200px;
    /*height: 100px;*/
    opacity: 0.9;
    padding: 30px;
    display: none;
}
#progress_bar {
    background-color: orange;
    height: 20px;
}
#error_msg {
    text-align: center;
    font-weight: bold;
    color: red;
}
#bbcode {
    margin: 0px 20px 20px;
    width: 700px;
    height: 400px;
}
h2 {
    font-size: 15px;
    /* text-decoration: underline; */
    border-bottom: 2px solid;
}
h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}
.section_link {
    color: #4040e0;
    font-weight: bold;
    text-decoration: none;
}
.gen_output_button {
    border: none;
    background-color: transparent;
    padding: 0;
    font-size: 1em;
    cursor: pointer;
}
th {
    text-align: left;
    background-color: #b0b0ff;
    padding: 1px 15px 1px 15px;
}
#sections table tr td {
    background-color: #f0f0f0;  /* same as in '#sections' */
    padding: 2px;
}
table tr td {
    background-color: #e0e0ff;
    padding: 1px 15px 1px 15px;
}
table tr .numeric {
    text-align: right;
}
table tr .small_cell {
    padding: 1px 4px 1px 4px;
    font-size: 11px;
}
table tr .tiny_cell {
    padding: 0px 1px 0px 1px;
    font-size: 8px;
}
.colors_legend {
    font-size: 0.8em;
    font-style: italic;
    margin-bottom: 0px;
}
.pct_cell {
    width: 250px;
}
.invisible_cell {
    background-color: #f0f0f0;  /* same as in '#sections' */
}
a img {
    border-style: none;
}

.cal_day_cell {
    padding: 6px;
}
.cal_day_container {
    position: relative;
    height: 90px;
    width: 100px
}
.cal_day_date {
    position: absolute;
    right: 3px;
    top: -4px;   /* compensate the extra spacing caused by the big font in .cal_day_date_text */
    z-index: 1;
}
.cal_day_date_text {
    margin: 0px;
    font-size: 30px;
    font-family: "Times New Roman";
}
.cal_day_top {
    position: absolute;
    z-index: 1;
}
.cal_day_top_text {
    margin: 0px;
    font-size: 9px;
}
.cal_day_bottom {
    position: absolute;
    height: 90px;
    width: 100px;
    z-index: 0;
}
.cal_day_bottom_text {
    position: absolute;
    bottom: 0px;
    margin: 0px;
    font-size: 9px;
    color: red;
}

.bingo_0:after {
    /*color: #b0b0ff;*/  /* same as in 'th' */
    color: #c00000;
    font-weight: bold;
    font-size: 14px;
    content: '×';
}
.bingo_1:after {
    color: #00c000;
    font-weight: bold;
    font-size: 14px;
    content: '✔';
}
.bingo_err:after {
    color: #ff0000;
    font-weight: bold;
    font-size: 14px;
    content: '!';
}
.bingo_na:after {
    visibility: hidden;
    content: '.';
}
.recent_0:after {}
.recent_1:after {
    color: blue;
    padding-left: 4px;
    content: '*';
}
.recent_2:after {
    color: green;
    padding-left: 4px;
    content: '**';
}
.recent_3:after {
    color: red;
    padding-left: 4px;
    content: '***';
}
